<div class="container mt-5">
    <h1>Tu Carrito de Compras</h1>
    {{#if cart.products.length}}
        {{#each cart.products}}
            <div class="product-item">
                <h3>{{this.productId.title}}</h3>
                <p>Quantity: {{this.quantity}}</p>
                <p>Price: ${{this.productId.price}}</p>
                <p>Total: ${{multiply this.quantity this.productId.price}}
                <p>Total: ${{this.productId.price}}</p>

                <form action="/api/carts/{{cart._id}}/products/{{this.productId._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Eliminar del Carrito</button>
                </form>
            </div>
        {{/each}}
    {{else}}
        <p>No hay productos en tu carrito.</p>
    {{/if}}
    <form action="/api/carts/{{cart._id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-warning">Vaciar Carrito</button>
    </form>
</div>
<script src="../public/js/cart.js"></script>