<div class="container mt-5">
    <h1 class="mb-4 text-center">Tu Carrito de Compras</h1>
    
    {{#if cart.products.length}}
        <div class="row">
            {{#each cart.products}}
                <div id="cart-item-{{this.productId._id}}" class="col-12 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <!-- Informaci贸n del producto -->
                            <div>
                                <h5 class="card-title">{{this.productId.title}}</h5>
                                <p class="mb-1">Cantidad: <strong>{{this.quantity}}</strong></p>
                            </div>
                            <!-- Precio, total y bot贸n de eliminaci贸n alineados a la derecha -->
                            <div class="text-right">
                                <p class="mb-1">Precio: <strong>${{this.productId.price}}</strong></p>
                                <p class="mb-1">Total: <strong>${{formatPrice (multiply this.quantity this.productId.price)}}</strong></p>
                                    <button class="btn btn-danger btn-sm" onclick="removeFromCart('{{this.productId._id}}')">
                                        Eliminar
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <!-- Bot贸n para comprar -->
        <div class="text-left">
            <button class="btn btn-success btn-lg" onclick="purchaseCart()">Comprar</button>
        </div>
    {{else}}
        <p class="text-center">No hay productos en tu carrito.</p>
    {{/if}}

    <!-- Botones para vaciar el carrito y volver a productos -->
    <div class="d-flex justify-content-between mt-4">
        <a href="/api/products" class="btn btn-primary">Volver a Productos</a>
        <button class="btn btn-warning" onclick="clearCart()">Vaciar Carrito</button>
    </div>
</div>

<script src="/js/cart.js"></script>
