<div class="container mt-5">
    <h1>Tu Carrito de Compras</h1>
    {{#if cart.products.length}}
        {{#each cart.products}}
            <div class="product-item">
                <h3>{{this.productId.title}}</h3>
                <p>Quantity: {{this.quantity}}</p>
                <p>Price: ${{this.productId.price}}</p>
                <p>Total: ${{multiply this.quantity this.productId.price}}</p>
                <form action="/api/carts/{{cart._id}}/products/{{this.productId._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Eliminar del Carrito</button>
                </form>
            </div>
        {{/each}}
    {{else}}
        <p>No hay productos en tu carrito.</p>
    {{/if}}
    <form action="/api/carts/{{cart._id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-warning">Vaciar Carrito</button>
    </form>
</div>



{{!-- <!-- views/cart.handlebars -->
<div class="container mt-5">
    <h1>Tu Carrito de Compras</h1>
    <div class="row">
        {{#if cart.products.length}}
            {{#each cart.products}}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        {{this.product.title}}
                    </div>
                    <div class="card-body">
                        <p>Cantidad: {{this.quantity}}</p>
                        <p>Precio: ${{this.product.price}}</p>
                        <p>Total: ${{multiply this.quantity this.product.price}}</p>
                        <form action="/api/carts/{{cart._id}}/products/{{this.product._id}}?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Eliminar del Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        {{else}}
            <div class="col-12">
                <p>No hay productos en tu carrito.</p>
            </div>
        {{/if}}
    </div>
    {{#if cart.products.length}}
    <div class="row">
        <div class="col-12 text-right">
            <form action="/api/carts/{{cart._id}}?_method=DELETE" method="POST">
                <button class="btn btn-warning">Vaciar Carrito</button>
            </form>
        </div>
    </div>
    {{/if}}
</div>

<!-- Script de ayuda para multiplicar cantidad por precio -->
<script>
    Handlebars.registerHelper('multiply', function (a, b) {
        return a * b;
    });
</script> --}}
