<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.title }} - Detalles del Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container product-details mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="product-title text-center">{{ product.title }}</h1>
                <div class="product-info">
                    <p><strong>Descripción:</strong> {{ product.description }}</p>
                    <p><strong>Precio:</strong> ${{ product.price }}</p>
                    <p><strong>Categoría:</strong> {{ product.category }}</p>
                    <p><strong>Código:</strong> {{ product.code }}</p>
                    <p><strong>Stock:</strong> {{ product.stock }}</p>
                </div>
                <!-- Formulario para agregar al carrito -->
                <form action="/api/carts/{{ cartId }}/products/{{ product._id }}" method="POST">
                    <!-- Input oculto para enviar la cantidad -->
                    <input type="hidden" name="quantity" value="1">
                    <!-- Botón para agregar al carrito -->
                    <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
